{% extends 'website/website_base.html' %} 

{% load static %}

{% block title %} Login {% endblock title %}   

{% block content %}  
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <div class="card-body">
                                        <form method="post" action="{% url 'accounts:login_otp_verify' %}">
                                            {% csrf_token %}
                                            <div class="form-floating mb-3">
                                                {{login_form.otp_key}}
                                                {{login_form.otp_key.label_tag}}
                                                <!-- <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                                                <label for="inputEmail">Email address</label> -->
                                            </div>
                                            {% block message %}
                                                {% include 'message/message.html' %}
                                            {% endblock message %}
                                            <div class="d-flex float-end mt-4 mb-0">
                                                <button class="btn btn-primary" type="submit">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
{% endblock content %}  

{% block extra_script %}
    <script src="{% static 'staff/js/scripts.js' %}"></script>
{% endblock extra_script %}