{% extends 'accounts/customer/customer_base.html' %}

{% load static %}
{% load customer_tags %}    

{% block extra_head_link %}
{% endblock extra_head_link %}

{% block main_content %}
<div id="content" class="border border-prime rounded p-4 p-md-5 pt-5 mt-5 mb-5 me-2 col-10">
    <div class="row">        
        <h2 class="mb-4">Items</h2>
    </div>
    <div class="row">
        {% block message %}
        {% include 'message/message.html' %}
        {% endblock message %}
    </div>
    <div class="row">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
            </div>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Discount</th>
                <th scope="col">Quantity</th>
                <th scope="col">Rate</th>
              </tr>
            </thead>
            <tbody>
                {% for detail in order_details %}
                <tr>    
                  <td class="text-center" style="width: 200px;">  
                    <img src={{detail.product.image.all.0.image.url}} class="img-fluid rounded-3" style="height: 100px; width: 150px;">
                  </td>
                  <td class="text-center">{{detail.product.product_name}}</td>
                  <td class="text-center">{{detail.price}}</td>
                  <td class="text-center">{{detail.discount}}</td>
                  <td class="text-center">{{detail.quantity}}</td>
                  <td class="text-center" style="width: 150px;">
                    <div class=" text-center d-flex">
                      <input id="rateInp" max="5" min="0" name="quantity" data-pk={{detail.product.id}} type="number" value="{% customer_rate detail.product request.user.id %}" class="form-control ms-1 rateInp" style="width: 50;" />                      
                      <a class="ms-3 addRate" id="addRate"><i class="fas bi-check-lg"></i></a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
          <!-- Pagination -->
          <div class="row">
            <nav aria-label="Page navigation example">
                {% if is_paginated %}
                <ul class="pagination">
                  {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.previous_page_number}}"
                      >&laquo;</a
                    >
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                  </li>
                  {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i %}
                  <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                  {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                  </li>
                  {% endif %} {% endfor %} {% if page_obj.has_next %}
                  <li class="page-item">
                    <a href="?page={{page_obj.next_page_number}}" class="page-link"
                      >&raquo;</a
                    >
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link">&raquo;</a>
                  </li>
                  {% endif %}
                </ul>
                {% endif %}
              </nav>
          </div>
    </div>
</div>
{% endblock main_content %}

{% block extra_script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
  $(".addRate").click(function(){
    const rateInpElem = $(".rateInp") 
    const rate = rateInpElem.val()
    const productID = rateInpElem.data('pk')
    $.ajax({ 
      url :"{% url 'rate-detail' 0 %}",
      type : 'GET',
      data: {product_id:productID},
      success: function(data){
        if (Object.keys(data).length === 0){
          $.ajax({
            url: "{% url 'rate-list' %}",
            method: "POST",
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', rate:rate, product_id:productID},
            success: function(response){
              console.log("sucessfully Created")
            }
          })
          
        } else {
          $.ajax({
            url: "{% url 'rate_update' %}",
            method: "PATCH",
            data: {rate:rate, product_id:productID},
            success: function(response){
              console.log("sucessfully Updated")
            }
          })
      }    
      }
    })
  })
</script>
{% endblock extra_script %}