{% extends 'accounts/staff/staff_base.html' %}

{% load custome_tags %}

{% block main_title %}
<h1 class="mt-4">Products</h1>
{% endblock main_title %}

{% block main_breadcrumb %}
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard_staff' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'accounts:profile_staff_product' %}">Discounts</a></li>
    <li class="breadcrumb-item active">Add</li>
</ol>
{% endblock main_breadcrumb%}


{% block main_content %}
    {% block message %}
        {% include 'message/message.html' %}
    {% endblock message %}
    <section class="py-5">
        <form class="border border-prime rounded mt-4 col-12" action="{% url 'accounts:profile_staff_create' %}" method="post">
            {% csrf_token %}   
            <h5 class = "mt-2 px-3 py-2"> Discount </h5>   
            <div class="row mt-2 px-3 py-2">
                <div class="row mt-2 px-3 py-2">
                    <div class="col">
                        <label for='dis_type' class="col-sm col-form-label">Discount Type:</label>
                        {{discount_form.dis_type}}
                    </div>
                    <div class="col">
                    <label for='dis_amount' class="col-sm col-form-label">Amount:</label>
                        {{discount_form.dis_amount}}
                    </div>
                </div>
                <div class="row mt-2 px-3 py-2">
                    <div class="col">
                        <label for='dis_type' class="col-sm col-form-label">:</label>
                        {{discount_form.start_date}}
                    </div>
                    <div class="col">
                    <label for='dis_amount' class="col-sm col-form-label">:</label>
                        {{discount_form.end_date}}
                    </div>
                </div>
            </div>
            <div class="row mt-2 px-3 py-2">
                <button type="submit" class="btn mt-3 mb-3 btn-primary">Submit</button>
            </div>
        </form>
    </section>

{% endblock main_content%}

{% block extra_script %}
{% endblock extra_script %}    