{% extends 'accounts/staff/staff_base.html' %}

{% load custome_tags %}
{% load static %}

{% block main_title %}
<h1 class="mt-4">Products</h1>
{% endblock main_title %}

{% block main_breadcrumb %}
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard_staff' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'accounts:profile_staff_product' %}">Products</a></li>
    <li class="breadcrumb-item active">Edit</li>
</ol>
{% endblock main_breadcrumb%}

{% block main_content %}
    {% block message %}
        {% include 'message/message.html' %}
    {% endblock message %}
    <!-- Product Section -->
    <section class="py-5">
        <form class="border border-prime rounded mt-4 col-12" enctype="multipart/form-data" action="{% url 'accounts:profile_staff_product_edit' product.id %}" method="post" >
            {% csrf_token %}   
            <h5 class = "mt-2 px-3 py-2"> Product </h5>          
            <div class="row mt-2 px-3 py-2">
                <div class="col">
                    <label for='product_name' class="col-sm col-form-label">Product Name:</label>
                    {{form.product_name}}
                </div>
                <div class="col">
                <label for='quantity' class="col-sm col-form-label">Quantity:</label>
                    {{form.quantity}}
                </div>
            </div>
            <div class="row mt-2  px-3 py-2">
                <div class="col">
                    <label for='description' class="col-sm-2 col-form-label">Description:</label>
                    {{form.description}}
                </div>
                <div class="col">
                    <div class="d-flex flex-column">
                        <div class="p-2">
                            <label for='price' class="col-sm-2 col-form-label">Price:</label>
                            {{form.price}}
                        </div>                        
                        <div class="p-2">
                            <label for='category' class="col-sm-2 col-form-label">Category:</label>
                            {{form.category}}
                        </div>  
                        <div class="p-2">
                            <label for='price' class="col-sm-2 col-form-label">Discount:</label>
                            {{form.dicount}}
                        </div>                        
                    </div>
                </div>
            <div class="row mt-2 px-3 py-2">
                <div class="col">                    
                    <div class="d-flex flex-column">
                            <div class="p-2">
                                <label for='p_images' class="col-sm col-form-label">Previous Images:</label>
                                <select id="selectOption" class="form-select form-control" onchange="loadImages(event)">
                                    <option value="default" selected>Select previous images</option>
                                    {% for image in product.image.all %}
                                    <option id="{{image.id}}"  value="{{image.image.url}}">{{image.image}}</option>
                                    {% endfor %}
                                </select>
                            </div>  
                            <div class="p-2">
                                <a id="imageBtnDel"  class="btn btn-outline-dark mt-auto d-none">Delete</a>
                            </div>
                            <div class="p-2">
                                <label for='images' class="col-sm-2 col-form-label">Images:</label>
                                {{image_form.image}}
                            </div>  
                    </div>
                </div>
                <div class="col">
                    <div class="">                        
                        <img id="inpImg" class="mt-3 " style="width: 750px; height: 400px;" src="" onerror="imageErrors()">
                    </div>
                </div>
            </div>
            <div class="row mt-2 px-3 py-2">

            </div>
            <div class="row mt-2 px-3 py-2">
            </div>
            <div class="row mt-2 px-3 py-2">
                <button type="submit" class="btn mt-3 mb-3 btn-primary">Edit</button>
            </div>
        </form>
    </section> 
{% endblock main_content%}

{% block extra_script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var delImage = document.getElementById('imageBtnDel');
            delImage.addEventListener("click", function (event) {

            var option = $('#selectOption');
            var imageId = option.children(":selected").attr("id");
            option.children(":selected").remove();
            var productId = "{{product.id}}";
            $.ajax({
             url: "{% url 'accounts:profile_staff_image_delete' %}",
             type: "POST",
             data: { csrfmiddlewaretoken: "{{ csrf_token }}", image: imageId, product: productId },
             success: function(data){
              alert(data[message]);
             },
             error: function(data){
              alert("error!");
             }
            });// indentation

            });
        }); 
    </script>
    <script>
        const loadImages = (event) => {
        const files = event.target.value
        var option = event.target.options
        const fileId = option[option.selectedIndex].id
        const imageFormElem = document.getElementById("imageForm")
        const delBtnElem = document.getElementById("imageBtnDel")
        const imageElement = document.getElementById('inpImg');
        if (files == "default") {
            delBtnElem.classList.add("d-none");
        }
        else {
            imageElement.src = files;
            delBtnElem.classList.remove("d-none");
        }
        
        }
    </script>
    <script>
        const imageErrors = () => {
            this.onerror=null; 
            this.src="{% static 'images/profile/default.jpg' %}";
        }
    </script>
{% endblock extra_script %}