<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <!-- Start Core -->
        <div class="sb-sidenav-menu-heading">Core</div>
        <!-- Start Profile -->
        <a class="nav-link" href="{% url 'accounts:profile_staff' %}">
            <div class="sb-nav-link-icon">
                <i class="fas fa-user-alt"></i>
            </div>
            Profile
        </a>
        <!-- End Profile -->
        <!-- Start Dashboard -->
        <a class="nav-link" href="{% url 'accounts:dashboard_staff' %}">
            <div class="sb-nav-link-icon">
                <i class="fas fa-tachometer-alt"></i>
            </div>
            Dashboard
        </a>
        <!-- End Dashboard -->
        <!-- End Core -->
        
        <!-- Start Managements -->
        <div class="sb-sidenav-menu-heading">Managements</div>
        <!-- Start Staff Manager -->
        <a
          class="nav-link collapsed"
          href="#"
          data-bs-toggle="collapse"
          data-bs-target="#collapseStaffs"
          aria-expanded="false"
          aria-controls="collapseStaffs"
        >
          <div class="sb-nav-link-icon">
            <i class="fas fa-user"></i>
          </div>
          Staff
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div
          class="collapse"
          id="collapseStaffs"
          aria-labelledby="headingOne"
          data-bs-parent="#sidenavAccordion"
        >
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="{% url 'accounts:profile_staff_list' %}">Staff</a>
            <a class="nav-link" href="{% url 'accounts:profile_staff_add' %}">Add Staff</a>
          </nav>
        </div>
        <!-- End Staff Manager -->
        <!-- Start Category -->
        <a
        class="nav-link collapsed"
        href="#"
        data-bs-toggle="collapse"
        data-bs-target="#collapseCategories"
        aria-expanded="false"
        aria-controls="collapseCategories"
      >
        <div class="sb-nav-link-icon">
          <i class="fa-solid fa-layer-group"></i>
        </div>
        Category
        <div class="sb-sidenav-collapse-arrow">
          <i class="fas fa-angle-down"></i>
        </div>
      </a>
      <div
        class="collapse"
        id="collapseCategories"
        aria-labelledby="headingOne"
        data-bs-parent="#sidenavAccordion"
      >
        <nav class="sb-sidenav-menu-nested nav">
          <a class="nav-link" href="{% url 'accounts:profile_category_list' %}">Categories</a>
          <a class="nav-link" href="{% url 'accounts:profile_category_add' %}">Add Category</a>
        </nav>
      </div>           
        <!-- End Category -->
        <!-- Start Product Manager -->
        <a
          class="nav-link collapsed"
          href="#"
          data-bs-toggle="collapse"
          data-bs-target="#collapseProducts"
          aria-expanded="false"
          aria-controls="collapseProducts"
        >
          <div class="sb-nav-link-icon">
            <i class="fas fa-cart-shopping"></i>
          </div>
          Product
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div
          class="collapse"
          id="collapseProducts"
          aria-labelledby="headingOne"
          data-bs-parent="#sidenavAccordion"
        >
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="{% url 'accounts:profile_staff_product' %}">Product</a>
            <a class="nav-link" href="{% url 'accounts:profile_staff_product_create' %}">Add Product</a>
          </nav>
        </div>
        <!-- End Product Manager -->
        <!-- Start Discount -->
        <a
        class="nav-link collapsed"
        href="#"
        data-bs-toggle="collapse"
        data-bs-target="#collapseDiscounts"
        aria-expanded="false"
        aria-controls="collapseDiscounts"
      >
        <div class="sb-nav-link-icon">
          <i class="fas fa-percent"></i>
        </div>
        Discount
        <div class="sb-sidenav-collapse-arrow">
          <i class="fas fa-angle-down"></i>
        </div>
      </a>
      <div
        class="collapse"
        id="collapseDiscounts"
        aria-labelledby="headingOne"
        data-bs-parent="#sidenavAccordion"
      >
        <nav class="sb-sidenav-menu-nested nav">
          <a class="nav-link" href="{% url 'accounts:profile_discount_add' %}">Add Discounts</a>
          <a class="nav-link" href="{% url 'accounts:profile_discount_list' %}">Discounts</a>
        </nav>
      </div>
      <!-- End of Discount -->
      <!-- Start Order -->
      <a
      class="nav-link collapsed"
      href="#"
      data-bs-toggle="collapse"
      data-bs-target="#collapseOrders"
      aria-expanded="false"
      aria-controls="collapseOrders"
    >
      <div class="sb-nav-link-icon">
        <i class="fas fa-clipboard"></i>
      </div>
      Order
      <div class="sb-sidenav-collapse-arrow">
        <i class="fas fa-angle-down"></i>
      </div>
    </a>
    <div
      class="collapse"
      id="collapseOrders"
      aria-labelledby="headingOne"
      data-bs-parent="#sidenavAccordion"
    >
      <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="{% url 'accounts:profile_order_list' %}">Orders</a>
      </nav>
    </div>      
      <!-- End Order -->
        <!-- End Managements -->
        <div class="sb-sidenav-menu-heading">Website</div>
        <a class="nav-link" href="{% url 'website:home_page' %}">
          <div class="sb-nav-link-icon">
            <i class="fas fa-home"></i>
          </div>
          Home
        </a>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Logged in as:</div>
      {{request.user.first_name}} {{request.user.last_name}}
    </div>
  </nav>
</div>
