{% extends 'accounts/staff/staff_base.html' %}

{% load custome_tags %}

{% block main_title %}
<h1 class="mt-4">Categories</h1>
{% endblock main_title %}

{% block main_breadcrumb %}
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard_staff' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'accounts:profile_staff_product' %}">Categories</a></li>
    <li class="breadcrumb-item active">Add</li>
</ol>
{% endblock main_breadcrumb%}


{% block main_content %}
    {% block message %}
        {% include 'message/message.html' %}
    {% endblock message %}
    {{ block.super }}
    <section class="py-5">
        <form class="border border-prime rounded mt-4 col-12" action="
        {% if edit %}                        
            {% url 'accounts:profile_category_update' category_id %}
        {% else %}
            {% url 'accounts:profile_category_add' %}
        {% endif %}" method="post">
            {% csrf_token %}   
            <h5 class = "mt-2 px-3 py-2"> Category </h5>   
            <div class="row mt-2 px-3 py-2">
                <div class="row mt-2 px-3 py-2">
                    <div class="col">
                        <label for='dis_type' class="col-sm col-form-label">Title:</label>
                        {{category_form.title}}
                    </div>
                    <div class="col">
                    <label for='dis_amount' class="col-sm col-form-label">Parent:</label>
                        {{category_form.parent}}
                    </div>
                </div>
            </div>
            <div class="row mt-2 px-3 py-2">
                {% if edit %}
                    <button type="submit" class="btn mt-3 mb-3 btn-primary">Edit</button>
                {% else %}
                    <button type="submit" class="btn mt-3 mb-3 btn-primary">Submit</button>
                {% endif %}
                </div>
        </form>
    </section>

{% endblock main_content%}
 