{% extends 'website/website_base.html' %}

{% block extra_head_link %}

{% endblock extra_head_link %}

{% block page_title %}Shop{% endblock %}


{% block content %}
<div class="container d-flex flex-column bd-highlight mb-3 justify-content-center">
    <!-- Inner Navbar -->
    <div class="border border-prime rounded mt-5 mb-5">
        <div class="p-4">
            <span>Sort by:</span>
            <a class="text-reset text-decoration-none ms-4" href="{% url 'website:shop_list' %}?sortBy=most_sell&Type=desc">Top Seller</a>
            <a class="text-reset text-decoration-none ms-4" href="{% url 'website:shop_list' %}?sortBy=highest_score&Type=desc">Highest Score</a>
            <a class="text-reset text-decoration-none ms-4" href="{% url 'website:shop_list' %}?sortBy=date&Type=desc">New</a>
        </div>
    </div>
    <!-- Shops Card -->
    <div id="content" class="border border-prime rounded p-4 p-md-5 pt-5 mb-5 me-2">
        <div class="row">        
            <h2 class="mb-4">Shops</h2>
        </div>
        <div class="row">
            {% block message %}
            {% include 'message/message.html' %}
            {% endblock message %}
        </div>
        {% for shop in shops %}
        <div class="row mb-3">
            <div class="card">
                <div class="col-md-7 px-3">
                    <div class="card-block px-6">
                        <h4 class="card-title mt-3">{{shop.market_name}}</h4>
                        <p class="card-text">
                            State: {{shop.state}}   City: {{shop.city}}    Telephone: {{shop.telephone}}
                        </p>
                        <p class="card-text">Address: {{shop.address}}</p>
                        <br>
                        <a href="{% url 'website:shop_detail' shop.id %}" class="mt-auto btn btn-primary mb-3 ">Products</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Pagination -->
        <div class="row">
            <nav aria-label="Page navigation example">
                {% if is_paginated %}
                <ul class="pagination">
                  {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.previous_page_number}}"
                      >&laquo;</a
                    >
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                  </li>
                  {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i %}
                  <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                  {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                  </li>
                  {% endif %} {% endfor %} {% if page_obj.has_next %}
                  <li class="page-item">
                    <a href="?page={{page_obj.next_page_number}}" class="page-link"
                      >&raquo;</a
                    >
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link">&raquo;</a>
                  </li>
                  {% endif %}
                </ul>
                {% endif %}
              </nav>
        </div>
    </div>
</div>
{% endblock content %}